*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #36BA98;
    text-align: center;
    transition: 1.5s;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    font-size: 9vmin;
    color: #E76F51;
    background-color: #E9C46A;
}
#reset-butn{
    padding: 1rem;
    font-size:medium;
    border: none;
    border-radius: 1rem;
    background-color: #F4A261;
    font-weight: bolder;
}
.win-msg-contain{
    margin-top: 40px;
}
#win-msg{
    font-size: 8vmin;
        color: #FDFFD2;
}
.hide{
    display: none;
}
.new-game{
    background-color: #FDFFE2;
    color: #1A2130;
    height: 6vmin;
    width: 18vmin;
    font-size: larger;
    font-weight: bolder;
    border-radius: 1rem ;
    border: none;
}
.box{
    transition: 1.5s;
}
h1{
    font-size: 3rem;
    font-weight:900;
}
.playx{
    width: 250px;
    margin-left: 130px;
    font-size: 4rem;
}
.playo{
    width: 250px;
    margin-left: 1100px;
    margin-top: -10px;
    font-size: 4rem;
}
